/* .dropdown .dropdown-body {
  display: none;
} */

/* .dropdown.open .dropdown-body {
  display: block;
  padding: 0.2rem;
} */

.dropdown {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.dropdown .dropdown-button {
  padding: 0.25rem;
  background-color: rgb(93, 170, 233);
  border: none;
  border-radius: 50%;
  box-shadow: 1px 1px 5px black;
  position: absolute;
  z-index: 1;
}

.dropdown .dropdown-button .user-image {
  width: 16px;
  height: 12px;
  object-fit: cover;
  border-radius: 50%;
}

.dropdown .dropdown-body {
  position: absolute;
  top: 0.8rem;
  width: 6rem;
  background-color: gainsboro;
  border-radius: 10px;
  border: 1px solid black;
}
