/* Open and Closed PostOffer */

.post-offer-body .post-button {
  cursor: pointer;
  width: 24px;
  height: 24px;
  font-size: 60%;
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 1px 1px 10px black;
  background-color: khaki;
  position: fixed;
  top: calc(15vh + 1rem);
  right: 1rem;
}

.post-offer-body .post-button:hover {
  box-shadow: 2px 2px 10px khaki;
}

.post-offer-body .post-button.show {
  display: none;
}

.post-offer-body .post-offer {
  display: none;
}

.post-offer-body.show {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(7%) translateX(-117%) rotateX(0deg);
  transition: transform 0.8s cubic-bezier(0.78, 0.95, 0.4, 1.6);
}

.post-offer-body .post-offer.show {
  display: block;
  width: 90vw;
  height: 71vh;
  padding: 1rem;
  position: fixed;
  top: 14.5vh;
  left: 5vw;
  border-radius: 10px;
  box-shadow: 2px 2px 10px black;
  border: 1px solid black;
  transform: translateY(-7%) translateX(130%) rotateX(0deg);
  background-color: khaki;
  color: black;
}

.post-offer-body .post-offer {
  display: block;
  width: 90vw;
  height: 71vh;
  padding: 1rem;
  position: fixed;
  top: 14.5vh;
  left: 5vw;
  border-radius: 10px;
  box-shadow: 2px 2px 10px black;
  border: 1px solid black;
  transform: translatex(150rem);
  transition: transform 0.8s cubic-bezier(0.25, 0.1, 0.25, 1);
  background-color: khaki;
  color: black;
}

.post-offer-body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(1%);
  transition: transform 0.8s cubic-bezier(0.18, 0.15, 0.1, 1.1);
}

.post-offer .closed-button {
  cursor: pointer;
  position: absolute;
  top: 0.25rem;
  right: 0.5rem;
  padding: 0.1rem;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-weight: bold;
  font-size: 110%;
}

/* Form */

.post-offer .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  height: 100%;
  position: relative;
}

.post-offer fieldset {
  border: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.post-offer .price-fieldset {
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.post-offer .last-fieldset {
  gap: 0.5rem;
}

.post-offer input,
.post-offer textarea {
  padding: 0.25rem;
  border-radius: 5px;
}

#price,
#offer_price {
  height: fit-content;
  width: 3.5rem;
}

#plataform,
#offer_expiry {
  height: fit-content;
  width: 9.5rem;
}

.post-offer .button {
  cursor: pointer;
  margin-top: 1rem;
  width: fit-content;
  padding: 0.25rem 1rem;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 10px black;
  background-color: rgb(1, 1, 97);
  color: yellow;
}

.post-offer .error {
  margin-top: 0.5rem;
}
