/* Open and Closed PostOffer */

.post-offer-body .post-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  font-size: 60%;
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 1px 1px 10px var(--color);
  background-color: var(--color);
  position: fixed;
  top: calc(20vh + 0.5rem);
  right: 1rem;
}

.post-offer-body .post-button.light {
  box-shadow: 1px 1px 10px var(--bg-color);
}

.post-offer-body .post-offer-icon {
  font-size: 190%;
}

.post-offer-body .post-button.show {
  display: none;
}

.post-offer-body .post-offer {
  display: none;
}

.post-offer-body.show {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(7%) translateX(-117%) rotateX(0deg);
  transition: transform 0.8s cubic-bezier(0.78, 0.95, 0.4, 1.6);
}

.post-offer-body .post-offer.show {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 450px;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 2px 2px 10px var(--color);
  border: 1px solid var(--bg-color);
  background-color: var(--light-color);
  color: var(--bg-color);
  position: relative;
  transform: translateY(-7%) translateX(270%) rotateX(0deg);
}

.post-offer-body .post-offer.light {
  box-shadow: 2px 2px 10px var(--bg-color);
  border: none;
}

.post-offer .closed-button {
  cursor: pointer;
  position: absolute;
  top: 0.25rem;
  right: 0.5rem;
  padding: 0.1rem;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-weight: bold;
  font-size: 110%;
}

/* Form */

.post-offer .form {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  height: 100%;
  position: relative;
}

.post-offer fieldset {
  border: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.post-offer .price-fieldset {
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.post-offer .last-fieldset {
  gap: 0.5rem;
}

.post-offer input,
.post-offer textarea,
.post-offer select {
  padding: 0.25rem;
  border-radius: 5px;
}

#price,
#offer_price {
  height: fit-content;
  width: 3.5rem;
}

#plataform,
#offer_expiry {
  height: fit-content;
  width: 9.5rem;
}

.post-offer .error {
  margin-top: 0.5rem;
}

@media (min-width: 775px) {
  .post-offer-body .post-offer.show {
    width: 400px;
    height: 550px;
  }
}

@media (min-width: 1150px) {
  .post-offer-body .post-offer.show {
    width: 500px;
  }

  #price,
  #offer_price {
    width: 4.5rem;
  }
}
