.signup {
  height: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.signup .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.signup fieldset {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  border: none;
}

.signup .input-wrap {
  width: 150px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.signup input {
  padding: 0.25rem;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 10px black;
}

.signup .signup-button {
  margin-top: 0.5rem;
}
