.user {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0;
  border-radius: 10px;
  background-color: var(--light-color);
  color: var(--bg-color);
  border-bottom: 1px solid black;
}

.user .header {
  cursor: pointer;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.user .header .user-image {
  width: 46px;
  height: 46px;
  object-fit: cover;
  border-radius: 50%;
}

@media (min-width: 770px) {
  .user {
    width: 500px;
  }
}

@media (min-width: 1150px) {
  .user {
    width: 700px;
  }
}
