header .title {
  width: 12rem;
  display: flex;
  justify-content: center;
}

.title .text-stroke {
  font-size: 95px;
  stroke: #000;
  stroke-width: 2;
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  animation: textStrokeAnim 3000ms linear both;
  animation-iteration-count: 1;
  width: 8rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title .text-stroke:hover {
  color: var(--light-color);
}

@keyframes textStrokeAnim {
  0% {
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    fill: var(--bg-color);
  }
  95% {
    stroke-dasharray: 0%;
    stroke-dashoffset: 90%;
    fill: var(--light-color);
  }
  100% {
    stroke-dasharray: 0%;
    stroke-dashoffset: 0%;
    fill: var(--color);
  }
}

@media (min-width: 800px) {
  .title .text-stroke {
    font-size: 103px;
  }
}
