.offer-byId {
  margin-top: calc(7.5vh + 5vh + 1rem);
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.comment-byId {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.comments-body {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid var(--light-color);
  border-radius: 10px;
}

@media (min-width: 900px) {
  .offer-byId {
    max-height: 510px;
    flex-direction: row;
  }

  .comment-byId {
    width: 350px;
  }

  .comments-body {
    min-height: 450px;
    overflow-y: scroll;
  }
}
