.modify-offer-card {
  list-style: none;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.modify-offer-card form.hide {
  display: none;
}

.modify-image.hide,
.offer-url.hide,
.offer-title.hide,
.offer-descrip.hide,
.offer-offerPrice.hide,
.offer-price.hide,
.offer-plataform.hide,
.offer-offerExpiry.hide {
  display: none;
}

.send-modify-button.date {
  right: -2rem;
  color: khaki;
}

/* Delete button */

.modify-offer-card .delete-button {
  margin-top: 1rem;
  cursor: pointer;
  padding: 0.25rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: none;
  border-radius: 10px;
  background-color: khaki;
  color: black;
  font-weight: bold;
}

.modify-offer-card .delete-button:hover {
  box-shadow: 1px 1px 10px khaki;
  text-decoration: underline;
}

.modify-offer-card .delete-offer-icon {
  font-size: 125%;
}
