.comment-form fieldset {
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}

.comment-form .comment-user-image {
  margin-top: 0.25rem;
  width: 28px;
  height: 28px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 1px 1px 5px var(--color);
}

.comment-form input {
  min-height: 5vh;
  width: 100%;
  padding-left: 0.25rem;
  border: 2px solid var(--light-color);
  border-radius: 5px;
}

.send-button {
  cursor: pointer;
  position: absolute;
  right: 0;
  height: 85%;
  padding: 0 0.5rem;
  background-color: var(--color);
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 10px var(--bg-color);
}

@media (max-height: 500px) {
  .send-button {
    height: 50%;
  }
}
