.user-offers {
  min-height: calc(100vh - 7.5vh - 7.5vh - 1rem - 1rem);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.user-offers .offers-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
