.filterOffers {
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(4, 4, 133);
  border-bottom: 1px solid khaki;
}

.filterOffers .filter-list {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.filterOffers .filter-list .link {
  cursor: pointer;
  font-size: 80%;
  background-color: khaki;
  text-decoration: none;
  color: black;
  border-radius: 7.5px;
  width: 4.5rem;
  height: 4.5vh;
  text-align: center;
}
