.filter1 {
  height: 7.5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.25rem 1rem;
  background-color: rgb(1, 1, 48);
  border-bottom: 1px solid khaki;
}

.filter1 .link {
  cursor: pointer;
  width: 8rem;
  height: 4.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 80%;
  background-color: rgb(192, 183, 105);
  text-decoration: none;
  color: black;
  font-weight: bold;
  border-radius: 7.5px;
}

.filter1 .link:hover {
  text-decoration: underline;
  box-shadow: 2px 2px 10px khaki;
}
