.user-nav {
  cursor: default;
  position: absolute;
  top: calc((7.5vh - 28px) / 2);
  left: 1rem;
  width: 6.5rem;
  height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 0.5rem;
  padding: 0.25rem;
  font-size: 75%;
  border-radius: 10px;
  background-color: rgb(196, 186, 104);
  box-shadow: 1px 1px 10px black;
  list-style: none;
}

.user-nav .username {
  cursor: default;
  width: fit-content;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-weight: bold;
}

.user-nav .link {
  cursor: pointer;
  padding: 0.25rem 0;
  text-decoration: none;
  color: black;
  text-align: center;
  border-bottom: 1px solid black;
}

.user-nav .link:hover {
  background-color: rgb(219, 209, 130);
  text-decoration: underline;
}

.user-nav .link.logout {
  border: none;
  font-weight: bold;
}

.modal-back {
  animation: fadeInOut 0.5s ease-in-out;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
