.modal-user {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.userNav-wrap {
  position: absolute;
  top: 3rem;
  left: 0.25rem;
  width: 6.5rem;
  background-color: khaki;
  border-radius: 10px;
  box-shadow: 1px 1px 10px black;
}

.user-nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.25rem;
  font-size: 75%;
  border-radius: 15%;
}

.link-perfile {
  cursor: pointer;
  padding: 0.25rem 0;
  text-decoration: none;
  color: black;
  text-align: center;
  border-bottom: 1px solid black;
}

.link-perfile:hover {
  background-color: rgb(238, 223, 90);
}

.logout-perfile {
  cursor: pointer;
  padding: 0.25rem 0;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: black;
}

.logout-perfile:hover {
  background-color: rgb(238, 223, 90);
}

.modal-user {
  animation: fadeInOut 0.4s ease-in-out;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
