.user-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0;
  background-color: rgba(150, 22, 0, 0.575);
}

.header-profile {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.user-image-profile {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 1px 1px 10px black;
}

.hide {
  display: none;
}
