.settings-nav {
  cursor: default;
  position: absolute;
  top: calc((7.5vh - 28px) / 2);
  right: 1rem;
  width: 6.5rem;
  height: 6.5rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 0.25rem;
  padding: 0.5rem;
  font-size: 75%;
  border-radius: 10px;
  background-color: rgb(196, 186, 104);
  box-shadow: 1px 1px 10px black;
  list-style: none;
}

.settings-nav .title {
  font-weight: bold;
}

.settings-nav .settings-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.1rem;
}

.settings-nav .toggle-button {
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  padding: 0.25rem;
  background-color: rgba(0, 0, 0, 0);
  background-color: black;
}

.settings-nav .language {
  border-top: 1px solid black;
  padding-top: 0.25rem;
}

.settings-nav .language button {
  cursor: pointer;
  width: 20px;
  height: 20px;
  padding: 0.1rem;
  font-size: 90%;
  border: 1px solid rgb(1, 1, 97);
  color: rgb(1, 1, 97);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.settings-nav .language button#button-es {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.settings-nav .language button#button-en {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.language button:hover,
.language button.es,
.language button.en,
.language button.es,
.language button.en {
  color: rgb(255, 255, 255);
  background-color: rgba(1, 1, 97, 0.4);
}
