.settings-nav {
  cursor: default;
  position: absolute;
  top: calc((7.5vh - 28px) / 2);
  right: 1rem;
  width: 6.5rem;
  height: 6.5rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 0.5rem;
  padding: 0.5rem;
  font-size: 75%;
  border-radius: 10px;
  background-color: rgb(196, 186, 104);
  box-shadow: 1px 1px 10px black;
  list-style: none;
}

ul.settings-nav li#theme-title,
ul.settings-nav li#language-title {
  font-weight: bold;
}

ul.settings-nav li.language button {
  cursor: pointer;
  /* margin-right: 0.1rem; */
  border: 1px solid rgb(1, 1, 97);
  border-radius: 0.25rem;
  color: rgb(1, 1, 97);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

li.language button:hover,
li.language button:active {
  color: rgb(255, 255, 255);
  background-color: rgba(1, 1, 97, 0.4);
}

/* .settings-nav .settings-icon {
  font-size: 50%;
} */

.modal-back {
  animation: fadeInOut 0.5s ease-in-out;
}

/* animacion */

.verstappen {
  position: absolute;
  opacity: 0;
}

.sun {
  position: absolute;
  font-size: 20px;
  color: #f0cd06;
  filter: drop-shadow(0 0 2px rgba(245, 0, 0, 0.5));
  transform: scale(0);
  transition: 1s ease;
}

.verstappen:checked ~ .sun {
  transform: scale(1) rotate(360deg);
}

.moon {
  font-size: 20px;
  color: #c2c0c0;
  filter: drop-shadow(0 0 2px rgb(255, 250, 250));
  transition: 1s ease;
}

.verstappen:checked ~ .moon {
  transform: rotate(360deg) scale(0);
}

.verstappen:checked ~ .boton {
  background: #f8f8f8;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
