.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.modal .modal-body {
  width: 80vw;
  height: 400px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background-color: rgb(1, 1, 97);
  color: khaki;
  border: 1px solid khaki;
  border-radius: 10px;
  box-shadow: 1px 1px 10px black;
}
