header {
  height: 7.5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-color: rgb(1, 1, 75);
  border-bottom: 1px solid khaki;
  position: relative;
}

header .button {
  cursor: pointer;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(1, 1, 75);
  border: 2px solid khaki;
  border-radius: 50%;
}

header .button:hover {
  box-shadow: 2px 2px 10px khaki;
}
