header {
  height: 7.5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-color: rgb(1, 1, 97);
  box-shadow: 2px 0px 10px khaki;
  position: relative;
}

header .button {
  cursor: pointer;
  width: 28px;
  height: 28px;
  padding: 0.25rem;
  background-color: rgb(1, 1, 97);
  border: 1px solid khaki;
  border-radius: 50%;
  box-shadow: 1px 1px 10px yellow;
}
