.modal-recover-password,
.modal-reset-password {
  display: none;
}

.modal-recover-password.show,
.modal-reset-password.show {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.modal-recover-password.show .recover-password,
.modal-reset-password .reset-password {
  width: 80vw;
  height: 400px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: rgb(1, 1, 97);
  color: khaki;
  border: 1px solid khaki;
  border-radius: 10px;
  box-shadow: 1px 1px 10px black;
}

.modal-recover-password.show .recoverPassword-form,
.modal-reset-password.show .resetPassword-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.modal-recover-password.show .fieldset,
.modal-reset-password.show .fieldset {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: none;
}

.modal-recover-password.show .input,
.modal-reset-password.show .input {
  width: 100%;
  padding: 0.25rem;
  border-radius: 5px;
  box-shadow: 1px 1px 10px black;
}

.modal-recover-password.show .button,
.modal-reset-password.show .button {
  cursor: pointer;
  margin-top: 1rem;
  width: fit-content;
  padding: 0.25rem 1rem;
  background-color: khaki;
  font-weight: bold;
  border: none;
  box-shadow: 1px 1px 10px black;
}
