footer {
  min-height: 7.5vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--bg-color);
  color: var(--color);
  border-top: 1px solid var(--color);
}

footer.light {
  background-color: var(--bg-light-color);
  color: var(--bg-color);
}

/* Header */

footer .footer-header {
  height: calc(7.5vh - 1rem - 1rem - 1px);
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-header .title-footer {
  color: var(--color);
  font-size: 20px;
}

.footer-header .more-content {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background-color: var(--bg-color);
}

.footer-header .more-content.show {
  background-color: var(--light-color);
}

.footer-header .cancel-icon {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  color: var(--light-color);
  background-color: var(--bg-color);
}

.footer-header .info-icon {
  color: var(--light-color);
}

.footer-header .more-content:hover {
  box-shadow: 2px 2px 10px var(--light-color);
}

/* Container */

footer .footer-container {
  max-width: 100vw;
  display: none;
}

footer .footer-container.show {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.5rem;
  border-top: 1px solid var(--color);
}

footer .about-us {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--light-color);
}

footer .section-title.light {
  color: var(--color);
}

footer .section-title {
  font-size: 17.5px;
  font-weight: lighter;
  color: var(--color);
}

footer .about-us a {
  text-decoration: none;
  color: var(--light-color);
}

footer .about-us a.light {
  color: var(--bg3-color);
}

footer .about-us p {
  cursor: pointer;
  color: var(--light-color);
}

footer .about-us p:hover {
  text-decoration: underline;
}

footer .about-us p.light {
  color: var(--bg3-color);
}

footer .footer-container-section {
  display: flex;
  gap: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--color);
}

footer .menu {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

footer .menu .section-title {
  padding-bottom: 0.25rem;
}

footer .menu .menu-item {
  color: var(--light-color);
  text-decoration: none;
}

footer .menu .menu-item.light {
  color: var(--bg3-color);
}

footer .menu .menu-item:hover {
  text-decoration: underline;
}

footer .social-networks {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

footer .social-networks .section-title {
  text-align: center;
}

footer .creator {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .social-creator {
  display: flex;
  gap: 0.5rem;
}

footer .social-link:hover {
  box-shadow: 2px 2px 10px khaki;
}

footer .github-image {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: white;
}

footer .linkedin-image {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

@media (min-width: 900px) {
  footer .footer-container.show {
    width: 90vw;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }

  footer .about-us {
    padding-top: 0.75rem;
    border-bottom: none;
    gap: 1rem;
  }

  footer .footer-container-section {
    border-bottom: none;
  }

  footer .menu {
    gap: 1rem;
  }
}
