.offer-card {
  display: flex;
  flex-direction: column;
  padding: 0.25rem 0.5rem;
  border: 2px dashed steelblue;
  border-radius: 10px;
}

.offer-card .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.offer-card .header .user-info {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.offer-card .header .user-info .user-image {
  width: 24px;
  height: 24px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 1px 1px 10px black;
}

.offer-card .header .user-info .user-name {
  font-weight: bold;
}

.offer-card .main {
  margin: 1rem 0;
  display: flex;
  gap: 2rem;
}

.offer-card .main .image-box {
  position: relative;
}

.offer-card .main .image-box .image {
  width: 144px;
  height: 144px;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 1px 1px 5px black;
}

.offer-card .main .image-box .favorite-button {
  background: none;
  position: absolute;
  top: 1px;
  right: 1px;
  border-radius: 5px;
  border: none;
  width: 24px;
  height: 24px;
}

.offer-card .main .offer-info {
  list-style: none;
}

.offer-card .main .offer-info .offer-title {
  padding-bottom: 0.25rem;
}

.offer-card .main .offer-info .offer-price {
  display: flex;
  gap: 1rem;
  padding-bottom: 0.25rem;
}

.offer-card .main .offer-info .offer-price .price {
  font-weight: bold;
}

.offer-card .main .offer-info .offer-price .price-dcto {
  text-decoration: line-through;
  color: red;
}

.offer-card .main .offer-info .offer-cad {
  padding-bottom: 0.5rem;
}

.offer-card .footer {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.offer-card .footer .link-button {
  padding: 0.1rem 0.5rem;
  background-color: khaki;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 10px black;
}

.offer-card .footer .link-button .link {
  text-decoration: none;
  color: black;
}

.offer-card .footer .comments-button {
  padding: 0.1rem 0.5rem;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 10px black;
}
