.search.show {
  height: 4.5vh;
  width: 150px;
  display: flex;
  align-items: center;
}

.search .form {
  display: none;
}


.search .cancel-button {
  display: none;
}
.search .cancel-icon {
  font-size: 123%;
}


.search .search-icon {
  color: var(--color);
  font-size: 125%;
}

/* Form */

.search {
  position: relative;
}

form.form.show {
  width: 200px;
}

.search .form.show {
  display: flex;
}

.search .input {
  height: 3.5vh;
  width: 129px;
  width: 90px;
  padding-left: 0.25rem;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: var(--color);
}

.search .open-search.hide {
  display: none;
}

.search .cancel-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  background-color: var(--color);
  border: none;
  border-right: 1px solid black;
}

.search .cancel-icon {
  font-size: 125%;
}

.search .search-button {
  cursor: pointer;
  height: 3.5vh;
  width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--color);
}

.search .search-button .search-icon {
  font-size: 100%;
  color: black;
}

@media (min-width: 700px) {
  .input {
    height: 3.5vh;
    width: 165px;
    border: none;
    border-right: 1px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: var(--color);
  }
  .search .cancel-button.show {
    cursor: pointer;
    display: block;
    top: 0.8rem;
    right: -0.7rem;
  }
}
