.comment-card {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid gray;
}

.comment-card .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.comment-card .header .user-info {
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.comment-card .header .user-info .user-image {
  width: 24px;
  height: 24px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 1px 1px 10px black;
}

.comment-card .header .user-info .user-name {
  font-weight: bold;
  color: khaki;
}

.comment-card .header .user-info .user-name:hover {
  text-decoration: underline;
}

.comment-card .main {
  padding: 0.5rem;
}

.comment-card .footer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
}

.comment-card .footer .like-button {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.comments-buttons {
  display: flex;
  justify-content: end;
  gap: 0.5rem;
}

.comment-card .edit-wrap .edit {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.set-comment-form {
  display: none;
}

.set-comment-form.show {
  display: block;
}

.comment-card .main .comment.hide {
  display: none;
}

.set-comment-form.show .fieldset {
  display: flex;
  border: none;
}

.set-comment-form.show .fieldset .input {
  padding: 0.5rem;
  border: none;
  background-color: rgb(66, 66, 94);
  color: khaki;
  width: 100%;
}

.set-comment-form.show .fieldset .edit-comment-button {
  border: none;
  border-radius: 5px;
  background-color: khaki;
  padding: 0 0.5rem;
}

.comment-card .delete-wrap .delete {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
