.plataform-filter {
  height: 5vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: var(--bg2-color);
  color: var(--color);
  border-bottom: 1px solid var(--color);
}

.plataform-filter.light {
  background-color: var(--bg2-light-color);
  color: var(--bg3-color);
}

.plataform-filter .plataform-list {
  display: flex;
  gap: 1rem;
  overflow-x: hidden;
  list-style: none;
}

.plataform-filter .move-button {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: var(--color);
}

.plataform-filter .plataform {
  cursor: pointer;
  height: calc(5vh - 1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80%;
  font-weight: bold;
}

.plataform-filter .plataform.ps5 {
  min-width: 85px;
}

.plataform-filter .plataform.ps4 {
  min-width: 85px;
}
.plataform-filter .plataform.xbo {
  min-width: 60px;
}
.plataform-filter .plataform.xbs {
  min-width: 70px;
}
.plataform-filter .plataform.nin {
  min-width: 100px;
}
.plataform-filter .plataform.pc {
  min-width: 20px;
}

.plataform-filter .plataform:hover {
  text-decoration: underline;
}
