.post-offer-image-body.show {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.post-offer-image-body .post-offer-image {
  display: none;
}

.post-offer-image-body .post-offer-image.show {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 300px;
  height: 450px;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 1px 1px 10px var(--color);
  border: 1px solid black;
  background-color: var(--light-color);
}

.post-offer-image-body .post-offer-image.light {
  box-shadow: 2px 2px 10px var(--bg-color);
  border: none;
}

.post-offer-image-body .post-offer-image-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.post-offer-image .title {
  text-align: center;
  color: var(--bg-color);
}

.post-offer-image form {
  display: flex;
  align-items: end;
  justify-content: space-around;
  gap: 0.5rem;
}

.post-offer-image fieldset {
  display: flex;
  border: none;
}

.post-offer-image .image-label {
  cursor: pointer;
  width: 152px;
  height: 152px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
}

.post-offer-image .post-offer-button {
  cursor: pointer;
  padding: 0.25rem;
  border: none;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  color: var(--bg-color);
}

.post-offer-image .image-preview {
  width: 144px;
  height: 144px;
  object-fit: contain;
  background-color: white;
}

.post-offer-image .image-input {
  display: none;
}

.post-offer-image .post-offer-button:hover {
  box-shadow: 2px 2px 10px black;
  border: none;
}

.post-offer-image .post-offer-noImage {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.post-offer-noImage p {
  color: black;
}

.post-offer-icon {
  font-size: 75%;
}

.button-main.without-image {
  color: white;
}

@media (min-width: 775px) {
  .post-offer-body .post-offer-image.show {
    width: 400px;
    height: 550px;
  }
}

@media (min-width: 1150px) {
  .post-offer-body .post-offer-image.show {
    width: 500px;
  }
}
