@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&family=Yatra+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  font-family: "Libre Franklin, Arial, Helvetica, sans-serif";
}
