.about-us {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  text-align: justify;
  color: white;
}

.about-us .paragraph {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.about-us.light {
  color: var(--bg-color);
}

.about-us h1,
.about-us h2 {
  color: var(--light-color);
}

.about-us.light h1,
.about-us.light h2 {
  color: var(--color);
}

@media (min-width: 650px) {
  .about-us {
    padding: 0 5rem;
  }
}

@media (min-width: 850px) {
  .about-us {
    padding: 0 10rem;
  }
}

@media (min-width: 1000px) {
  .about-us {
    padding: 0 15rem;
  }
}
